.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.main-content {
  flex-grow: 1;
  padding-top: 80px; /* Space for the fixed TopBar */
  overflow-y: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}